<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133610598443-1evsuuacrpsoscdaacfm7aj095vvu067.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133610598443-1evsuuacrpsoscdaacfm7aj095vvu067</string>
	<key>API_KEY</key>
	<string>AIzaSyC9mYcJ6sOLxPeJJmha2jhu64dn7x9nqQY</string>
	<key>GCM_SENDER_ID</key>
	<string>133610598443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onboardAnimation</string>
	<key>PROJECT_ID</key>
	<string>assan-ghar</string>
	<key>STORAGE_BUCKET</key>
	<string>assan-ghar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133610598443:ios:b7bb26010d343e5231ba6e</string>
</dict>
</plist>